#########################
# openFrameworks patterns
#########################

# build files
openFrameworks.a
openFrameworksDebug.a
openFrameworksUniversal.a
libs/openFrameworksCompiled/lib/*/*
!libs/openFrameworksCompiled/lib/*/.gitkeep

# apothecary
scripts/apothecary

#########################
# general
#########################

[Bb]uild/
[Oo]bj/
*.o
*.mode*
*.app/
*.pyc
.svn/
*.log
*.cpp.eep
*.cpp.elf
*.cpp.hex

#########################
# IDE
#########################

# Visual Studio
*.sdf
*.opensdf
*.suo
*.pdb
*.ilk
*.aps
ipch/


#########################
# operating system
#########################

# Windows
# Windows image file caches
Thumbs.db
# Folder config file
Desktop.ini

#########################
# miscellaneous
#########################
